@import "~gridlex/src/gridlex.scss";

.experience__name,
.graduation__name,
.project__name
{
    font-weight: bold;
}

.experience__company,
.graduation__school {
    font-style: italic;
}

.about__title,
.about__content,
.experiences__title,
.scholarship__title,
.projects__title {
    text-align: center;
}
